In [15]:

"""
pip install pandas
pip install --upgrade pandas
"""

Requirement already satisfied: pandas in c:\users\kleber\anaconda3\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\kleber\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kleber\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\kleber\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kleber\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\kleber\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: pandas in c:\users\kleber\anaconda3\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\kleber\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kleber\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\kleber\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kleber\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\kleber\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [23]:
!pip install openpyxl==3.1.0

Collecting openpyxl==3.1.0
  Obtaining dependency information for openpyxl==3.1.0 from https://files.pythonhosted.org/packages/0d/89/f78a9a895e221ec8b13ae7f9495f340a0fb43563b13e2891b5df134f20ea/openpyxl-3.1.0-py2.py3-none-any.whl.metadata
  Downloading openpyxl-3.1.0-py2.py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: et-xmlfile in c:\users\kleber\anaconda3\lib\site-packages (from openpyxl==3.1.0) (1.1.0)
Downloading openpyxl-3.1.0-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
   --------- ----------------------------- 61.4/250.0 kB 825.8 kB/s eta 0:00:01
   ------------------------------- -------- 194.6/250.0 kB 1.5 MB/s eta 0:00:01
   ---------------------------------------- 250.0/250.0 kB 1.7 MB/s eta 0:00:00
Installing collected packages: openpyxl
  Attempting uninstall: openpyxl
    Found existing installation: openpyxl 3.0.0
    Uninstalling openpyxl-3.0.0:
      Successfully uninstalled openpyxl-3.0.0
Successfully installed openpyxl-3.1.0

In [1]:
import pandas as pd
import openpyxl

c:\Users\Kleber\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [12]:
!pip install openpyxl --upgrade --pre

Requirement already satisfied: openpyxl in c:\users\kleber\anaconda3\lib\site-packages (3.0.10)
Collecting openpyxl
  Obtaining dependency information for openpyxl from https://files.pythonhosted.org/packages/6a/94/a59521de836ef0da54aaf50da6c4da8fb4072fb3053fa71f052fd9399e7a/openpyxl-3.1.2-py2.py3-none-any.whl.metadata
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: et-xmlfile in c:\users\kleber\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
   ------ -------------------------------- 41.0/250.0 kB 653.6 kB/s eta 0:00:01
   -------------------------- ------------- 163.8/250.0 kB 1.6 MB/s eta 0:00:01
   ---------------------------------------  245.8/250.0 kB 2.2 MB/s eta 0:00:01
   ---------------------------------------- 250.0/250.0 kB 1.4 MB/s eta 0:00:00
Installing collected packages: openpyxl
  Attempting uninstall: openpyxl
    Found existing installation: openpyxl 3.0.10
    Uninstalling openpyxl-3.0.10:
      Successfully uninstalled openpyxl-3.0.10
Successfully installed openpyxl-3.1.2

In [2]:
# Para leitura da barra invertida

df = pd.read_excel(r"E:\Big Query\Arquivos google bigquery\Arquivos\Origem\arquivos_excel\Produto.xlsx")
df.head()

   ID                  Name  Price  Id_Category
0   0       Sapato vermelho     96            0
1   1  Bolsa mais que Velha   8000            0
2   2                 Calça     75            0
3   3    Camisa apertadinha    170            0
4   4   Vestido Super curto     57            0

In [3]:
# df_calca = df.loc[df['coluna'] == 'Calça']  localizar 1 item especifico de uma coluna
df_calca = df.loc[df['Name'] == 'Vestido Super curto']

In [4]:
df_calca

   ID                 Name  Price  Id_Category
4   4  Vestido Super curto     57            0

In [5]:
itens = ['Calça','TV', 'Perfume','Fogão']
df_itens = df.loc[df['Name'].isin(itens)]

In [6]:
df_itens

    ID     Name  Price  Id_Category
2    2    Calça     75            0
5    5  Perfume     29            1
11  11    Fogão   1373            2
12  12       TV   1992            2

In [7]:
df_itens2 = df.loc[df['Name'].isin(['Calça','TV', 'Sapato vermelho','Fogão'])]
df_itens2

    ID             Name  Price  Id_Category
0    0  Sapato vermelho     96            0
2    2            Calça     75            0
11  11            Fogão   1373            2
12  12               TV   1992            2

In [ ]:
#Localizar valor > que o que escolher
dfMais1000 = df.loc[df['Price'] > 1000]

In [ ]:
dfMais1000.head()

In [ ]:
dfmenos1000 = df.loc[df['Price'] < 1000] 
dfmenos1000.head()

In [ ]:
df200a1000 = df.loc[(df['Price'] > 200) & (df['Price'] <= 2000)]
df200a1000

In [13]:
teste = df.iloc[0:10, 0:2]
teste

   ID                  Name
0   0       Sapato vermelho
1   1  Bolsa mais que Velha
2   2                 Calça
3   3    Camisa apertadinha
4   4   Vestido Super curto
5   5               Perfume
6   6      Creme de Barbear
7   7       Hidratante caro
8   8               Shampoo
9   9        Protetor Solar